html {font-size: 16px;}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f0f0f0;
}
h1 {
    margin: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #ccc;
}
h1 button {
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: #808080;
    background: none;
    margin-right: 1.5em;
}
h1 button:hover {
    color: #333;
}
h1 button:after {
    content: '|';
    position: absolute;
    top: 0;
    right: -0.8em;
    color: rgba(0, 0, 0, 0.2);
    user-select: none;
}
h1 button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
h1 button:last-child:after {
    content: none;
}
button.activeRenderer {
    color: #000;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

#renderPickers {
    position: absolute;
    top: 120px;
    left: 20px;
    z-index: 2;
    background: white;
}

#example {
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    /*width: 1600px;
    height: 1600px;
    transform: scale(0.5);*/
    /*width: 1920px;
    height: 1080px;
    transform: scale(0.5);*/
    /*width: 3200px;
    height: 3200px;
    transform: scale(0.25);*/
    transform-origin: 0 0;
}
#example canvas,
#example img,
#example a,
.rerun canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#example.isHidden {
    position: absolute;
    visibility: hidden;
}

.rerun {
    display: inline-block;
    margin: 20px;
    position: relative;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
}

#re-tall {
    width: 200px;
    height: 400px;
}
#re-wide {
    width: 400px;
    height: 200px;
}

#preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
}

#preview img {
    max-height: 100vh;
    max-width: 100vw;
}

#saved {
    position: relative;
    /* abs position when #example is being scaled */
    /*position: absolute;
    left: 0;
    top: 1000px;*/
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-width: 1100px;
}

#saved > .downloader > img {
    margin: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.downloader {
    position: relative;
}

.downloader > a {
    position: absolute;
    top: 15px;
    right: 15px;

    display: inline-block;
    width: 1.6em;
    height: 1.5em;

    text-align: center;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    transition: all 150ms ease-out;

    /* hide till hover */
    display: none;
}

.downloader:hover > a {
    display: inline-block;
}

.downloader > a:hover {
    background-color: rgba(0, 0, 0, 1);
}

#instructions {
    margin: 20px;
    color: #999;
}

#controls {
    --position: absolute;
    --bottom: 0;
    --left: 0;
    --padding: 0.5em 20px;
    font-size: 0.85rem;
    margin: 1em -20px 0;
    padding: 5px 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#controls button,
#controls select,
#controls input,
#controls a {
    display: inline-block;
    padding: 0 0.5em;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.75em;
    height: 1.75em;
    color: #000;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.2em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.spacerSpan {
    display: inline-block;
    padding: 0 1em;
    color: #999;
}

#welcome {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px 20px 0;
    font-family: Georgia, serif;
    font-size: 16px;
    background-color: #f2f2f2;
    background-image: linear-gradient(to right bottom, #fff, #e7e7e7);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#welcome h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #444;
}

#welcome p {
    margin: 0.5em 0;
}

kbd {
    display: inline-block;
    padding: 0 0.2em .2em;
    border: 1px solid #ccc;
    border-width: 1px 1px 3px;
    border-radius: 3px;
}